body {
  margin: 0;
  background-color: #e0f7fa !important;
}

.container-card {
  background: linear-gradient(to right, yellow, orange);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}